---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Tienda 1",
    icon: "frameworks/react",
    url: "#",
  },
  {
    title: "Tienda 2",
    icon: "frameworks/preact",
    url: "#",
  },
  {
    title: "Tienda 3",
    icon: "frameworks/svelte",
    url: "#",
  },
  {
    title: "Tienda 4",
    icon: "frameworks/vue",
    url: "#",
  },
  {
    title: "Tienda 5",
    icon: "frameworks/solid",
    url: "#",
  },
  {
    title: "Tienda 6",
    icon: "frameworks/lit",
    url: "#",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Plataforma 1",
    icon: "platforms/netlify",
    url: "#",
  },
  {
    title: "Plataforma 2",
    icon: "platforms/vercel",
    url: "#",
  },
  {
    title: "Plataforma 3",
    icon: "fa-brands:cloudflare",
    url: "#",
  },
  {
    title: "Plataforma 4",
    icon: "platforms/render",
    url: "#",
  },
  {
    title: "Plataforma 5",
    icon: "fa-brands:github",
    url: "#",
  },
  {
    title: "Plataforma 6",
    icon: "fa-brands:gitlab",
    url: "#",
  },
];
---

<ContentSection title="Tiendas" id="compatibility">
  <Fragment slot="lead">
    Nos puedes encontrar en diversas tiendas en todo <span class="text-primary">México</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Tiendas"
    url="#"
  />
  <CompatibilityList
    items={platforms}
    title="Plataformas"
    url="#"
  />
</ContentSection>
