---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: 'Título 1',
    description: 'Descripción 1',
    icon: "mdi:handshake",
  },
  {
    title: 'Título 2',
    description: 'Descripción 1',
    icon: "mdi:feather",
  },
  {
    title: 'Título 3',
    description: 'Descripción 1',
    icon: "mdi:directions-fork",
  },
  {
    title: 'Título 4',
    description: 'Descripción 1',
    icon: "mdi:graph",
  },
  {
    title: 'Título 5',
    description: 'Descripción 1',
    icon: "mdi:search-web",
  },
  {
    title: 'Título 6',
    description: 'Descripción 1',
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Todo sobre nuestra bebida" id="features">
  <Fragment slot="lead">
    El <span class="text-primary">pulque</span> es una bebida alcohólica de origen 
    prehispánico que se obtiene de las pencas del <span class="text-primary">maguey</span> 
    y se elabora a partir de la fermentación del mucílago (sustancia orgánica de textura 
    viscosa, propia de algunos vegetales), popularmente conocido como <span class="text-primary">aguamiel</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
