---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Qué es?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    El <span class="text-primary">pulque</span> es la 
    bebida mexicana por excelencia y tras milenios sigue 
    deleitando paladares, tal como lo hizo entre los dioses 
    en su origen mítico, el cual cuenta que fue un regalo de 
    la diosa náhuatl Mayáhuel para los hombres.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.gob.mx/agricultura/es/articulos/pulque-bebida-de-dioses"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Conoce más</span>
    </a>
    <a
      href="#"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="basket" class="h-8" />
      <span>Compranos</span>
    </a>
  </div>
</ContentSection>
